<div class="row">
	<div class="col-sm-offset-1 col-sm-4"><h2>Registered user</h2></div>
	<div class="col-sm-offset-2 col-sm-4"><h2>New user</h2></div>
</div>

<div class="row">
	<div class="col-sm-5">
		{control signInForm}
	</div>
	<div class="col-sm-5 col-sm-offset-1">
		{control registerForm}
	</div>
</div>
