{block head}
	{control rss:link}
	{control posts:link}
{/block}

{block content}

<div class="page-header categories">
	<h1 n:block=title>Support Forum</h1>

	<div class="pull-right rss-feeds">
		<a href="{plink //rss-feed!}" class="rss-feed">Questions</a>
		<a href="{plink //posts-feed!}" class="rss-feed">Posts</a>
	</div>
</div>

{foreach $categories as $children}
{var $category = reset($children)}

<div class="panel panel-default category">
	<div class="panel-heading">
		<h3 class="panel-title"><strong>{$category->c1_name}</strong></h3>
	</div>
	<div class="panel-body">

		<div n:foreach="$children as $child" class="row">
			<div class="col-md-4 category-name">
				<span n:inner-if="!$child->c2_url" class="hidden-lg hidden-md pull-right">
					<span title="Unresolved questions" n:class="label, $child['unsolved_count'] ? label-warning : label-success" data-toggle="tooltip" data-placement="left">{$child['unsolved_count']}</span>
					/ <span title="Total questions" class="label label-primary" data-toggle="tooltip" data-placement="left">{$child['posts_count']}</span>
				</span>

				<a n:href="Topics:, categoryId => $child->c2_id"><h2>{$child->c2_name}</h2></a>

				<p n:if="$child->c2_description">{$child->c2_description}</p>
			</div>
			<div n:inner-if="$child->l_id" class="col-md-7 text-right">
				by <a href="{plink Profile:, $child->l_author_id}">{$child->l_author_name}</a> at <a n:href="Question:, $child->l_id">{$child->l_createdAt|date:'j.n.Y G:i'}</a><br>
				<a n:href="Question:, $child->l_id">{$child->l_title|truncate:90}</a>
			</div>
			<div n:if="!$child->c2_url" class="col-md-1 text-center visible-lg visible-md">
				<span title="Unresolved questions" n:class="label, $child['unsolved_count'] ? label-warning : label-success" data-toggle="tooltip" data-placement="left">{$child['unsolved_count']}</span><br>
				<span title="Total questions" class="label label-primary" data-toggle="tooltip" data-placement="left">{$child['posts_count']}</span>
			</div>
		</div>

	</div>
</div>

{/foreach}
