{block content}

<div class="page-header profile">
	<h1 n:block=title>
		{$userEntity->name ?: 'The chosen one'} {if $user->isInRole(moderator) || ($user->loggedIn && $userEntity === $user->identity->user)}&lt;{$userEntity->email}&gt;{/if}

		<img n:gravatar="$userEntity->email, 100" class="gravatar pull-right"/>
	</h1>
</div>


<br><h2>Last questions:</h2>
{control threads, author => FALSE}
{control threads-vp}
