#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	googleAnalytics: {}


php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes


nette:
	application:
		errorPresenter: Error
		mapping:
			*: Archivist\*Module\*Presenter

	session:
		expiration: 14 days

	security:
		roles:
			authenticated:
			guest:
			user: [authenticated]
			moderator: [user]


extensions:
	console: Kdyby\Console\DI\ConsoleExtension
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	webloader: WebLoader\Nette\Extension
	translation: Kdyby\Translation\DI\TranslationExtension
	archivist: Archivist\DI\ArchivistExtension
	doctrine2Identity: Majkl578\NetteAddons\Doctrine2Identity\DI\IdentityExtension
	gravatar: IPub\Gravatar\DI\GravatarExtension
	facebook: Kdyby\Facebook\DI\FacebookExtension
	github: Kdyby\Github\DI\GithubExtension
	google: Kdyby\Google\DI\GoogleExtension
	monolog: Kdyby\Monolog\DI\MonologExtension


annotations:
	cache: array


doctrine:
	driver: pdo_pgsql
	user: postgres
	dbname: archivist
	namingStrategy: Doctrine\ORM\Mapping\UnderscoreNamingStrategy
	dql:
		string:
			isnull: Archivist\Doctrine\Dql\IsNull
			field: Archivist\Doctrine\Dql\Field
			row_number: Archivist\Doctrine\Dql\RowNumber


console:
	url: https://help.kdyby.org/
	commands:
		- Archivist\Cli\GenerateSitemapCommand


facebook:
	permissions: [basic_info, email]


github:
	permissions: [user:email]


google:
	returnUri: ':Forum:Categories:'(do=login-google-response)


gravatar:
	defaultImage: identicon


monolog:
	name: archivist
	handlers:
		- Monolog\Handler\SyslogHandler('archivist', 'local4')
		- Kdyby\Monolog\Handler\NewRelicHandler(Monolog\Logger::NOTICE)


includes:
	- webloader.neon
