webloader:
	js:
		default:
			files:
				- %wwwDir%/js/jquery.js
				- %wwwDir%/js/bootstrap.js
				- %wwwDir%/js/nette.forms.js
				- %wwwDir%/js/nette.ajax.js
				- %wwwDir%/js/nette.ajax.confirm.js
				- %wwwDir%/js/nette.ajax.fidRemove.js
				- %wwwDir%/js/nette.ajax.ga.js
				- %wwwDir%/js/nette.ajax.scrollTo.js
				- %wwwDir%/js/nette.ajax.spinner.js
				- %wwwDir%/js/main.js

	css:
		default:
			files:
				- %wwwDir%/css/bootstrap.css
				- %wwwDir%/css/bootstrap-theme.css
				- %wwwDir%/css/screen.css


services:
	webloader.cssUrlFilter: WebLoader\Filter\CssUrlsFilter(%wwwDir%)
