{block content}

<div class="page-header">
	<h1 n:block=title><span n:if="$question->isLocked()" class="glyphicon glyphicon-lock pull-right"></span> {$question->title}</h1>
	<a n:href="Topics:, categoryId => $question->category->id">&laquo; {$question->category->name}</a>
</div>

{if $presenter['vp']->paginator->isFirst()}
	{control "post-{$question->id}"}
{/if}

{foreach $answers as $answer}
	{control "post-{$answer->id}"}
{/foreach}

{control vp}

<hr>

{if $question->isLocked() && !$user->isInRole(moderator)}
	<div class="row">
		<div class="col-md-10 col-sm-12 col-md-offset-1 col-sm-offset-0 text-center">
			<div class="alert alert-warning">Thread is locked</div>
		</div>
	</div>

{elseif $user->loggedIn}
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6"><h2>Answer:</h2></div>
	</div>
	<div class="row">
		<div class="col-sm-11">
			{control answerForm}
		</div>
	</div>

{else}
	<div class="row">
		<div class="col-md-10 col-sm-12 col-md-offset-1 col-sm-offset-0">
			<div class="alert alert-warning">You must first <a href="{plink login-showModal!}" class="ajax">log in</a> to participate in this discussion</div>
		</div>
	</div>
{/if}
