{block content}

<div class="page-header">
	<h1 n:block=title><span n:if="$question->isLocked()" class="glyphicon glyphicon-lock pull-right"></span> {$question->title}</h1>
	<a n:href="Topics:, categoryId => $question->category->id">&laquo; {$question->category->name}</a>
</div>

{define post}
{default $panelType = $post->isQuestion() ? 'panel-primary' : ($post === $question->solution ? 'panel-success' : ($post->isAuthor($question->author) ? 'panel-warning' : ''))}
<div n:class="panel, panel-default, forum-post, $panelType">
	<div id="post{$post->id}" class="id"></div>
	<div class="panel-heading">
		<strong class="pull-right text-right timestamp"><a n:href="Question:, questionId => NULL, permalinkId => $post->id"># {$post->createdAt|date:'j.n.Y G:i'}</a></strong>
		<h3 class="panel-title">
			<img n:gravatar="$post->author->user->email, 64" class="gravatar" />
			<a href="{plink Profile:, $post->author->user->id}">{$post->author->name}</a>
			{if $user->isInRole(moderator)}&lt;{$post->author->user->email}&gt;{/if}
		</h3>
	</div>
	<div class="panel-body">
		{$post|texifyForumPost|noescape}
	</div>
	<div class="panel-footer" n:if="$user->isInRole(moderator) || (!$question->locked && $post->isAuthor($user->identity))">
		<div class="text-right pull-right">
			{if !$post->isQuestion() && ((!$question->locked && $question->isAuthor($user->identity)) || $user->isInRole(moderator))}
				<a n:href="toggleResolved!, postId => $post->id"><span n:class="glyphicon, $question->solution !== $post? glyphicon-check : glyphicon-unchecked"></span>
					{if $question->solution !== $post}Solved{else}Not solved{/if}
				</a>
			{/if}
			<a n:href="markAsSpam!, postId => $post->id" n:if="$user->isInRole(moderator)" onclick="return confirm('Really mark as spam?');"><span class="glyphicon glyphicon-trash"></span> Spam</a>
			<a n:href="delete!, postId => $post->id" n:if="$user->isInRole(moderator) || (!$question->locked && $post->isAuthor($user->identity))" onclick="return confirm('Really delete?');"><span class="glyphicon glyphicon-remove"></span> Delete</a>
			<a n:href="edit, postId => $post->id" n:if="$user->isInRole(moderator) || (!$question->locked && $post->isAuthor($user->identity))"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
		</div>

		<div class="text-left" n:if="$user->isInRole(moderator) && $post->isQuestion()">
			<a n:href="togglePinThread!"><span n:class="glyphicon, $question->isPinned() ? glyphicon-star-empty : glyphicon-star"></span> {if $question->isPinned()}Unpin{else}Pin{/if}</a>
			<a n:href="toggleLockThread!"><span class="glyphicon glyphicon-lock"></span> {if $question->isLocked()}Unlock{else}Lock{/if}</a>
		</div>

		<div class="clearfix"></div>
	</div>
</div>
{/define}

{if $presenter['vp']->paginator->isFirst()}
{include post, post => $question}
{/if}

{foreach $answers as $answer}
	{include post, post => $answer}
{/foreach}

{control vp}

<hr>

{if $question->isLocked() && !$user->isInRole(moderator)}
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 text-center">
			<div class="alert alert-warning">Thread is locked</div>
		</div>
	</div>

{elseif $user->loggedIn}
	<div class="row">
		<div class="col-sm-offset-3 col-sm-6"><h2>Answer:</h2></div>
	</div>
	<div class="row">
		<div class="col-sm-11">
			{control answerForm}
		</div>
	</div>

{else}
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 text-center">
			<div class="alert alert-warning">You must first <a n:href=":Sign:in">login</a> to participate in this discussion</div>
		</div>
	</div>
{/if}
