{var $robots = noindex}

{block content}

<div class="row">
	<div class="col-lg-offset-3 col-lg-6">

		<h1 n:block=title>Method Not Allowed</h1>

		<p>The requested method is not allowed for the URL.</p>

		<p><small>error 405</small></p>

	</div>
</div>
