{block head}
	{control rss:link}
{/block}

{block content}

<div class="page-header">
	<h1 n:block=title>
		{$category->name}

		<small class="pull-right" n:if="$category->parent">
			<span class="hidden">-</span> {$category->parent->name}
		</small>
	</h1>
	<a href="{plink //rss-feed!}" class="pull-right rss-feed">RSS</a>
	<a n:href="Categories:">&laquo; All categories</a>
</div>

{control threads}
{control threads-vp}

<hr>

<div class="row">
	{if $user->loggedIn}

		<div class="col-sm-offset-3"><h2>Create topic:</h2></div>
		<div class="col-sm-11">
			{control createTopicForm}
		</div>

	{else}

		<div class="col-sm-10 col-sm-offset-1">
			<div class="alert alert-warning">You must first <a n:href=":Sign:in">login</a> to open a discussion</div>
		</div>

	{/if}
</div>
