{block head}
	{control rss:link}
{/block}

{block content}

<div class="page-header">
	<h1 n:block=title>
		<span class="hidden-xs" n:if="$category->parent">{$category->parent->name} /</span>
		{$category->name}
	</h1>
	<a href="{plink //rss-feed!}" class="pull-right rss-feed hidden-xs hidden-sm">RSS</a>
	<a n:href="Categories:" class="hidden-xs hidden-sm">&laquo; All categories</a>
</div>

{control threads}
{control threads-vp}

<hr>


{if $user->loggedIn}

	<div class="row">
		<div class="col-sm-offset-3 col-sm-6"><h2>Create topic:</h2></div>
	</div>
	<div class="row">
		<div class="col-sm-11">
			{control createTopicForm}
		</div>
	</div>

{else}
	<div class="row">
		<div class="col-md-10 col-sm-12 col-md-offset-1 col-sm-offset-0">
			<div class="alert alert-warning">You must first <a n:href=":Sign:in">login</a> to open a discussion</div>
		</div>
	</div>
{/if}

