{block head}
	{control rss:link}
	{control posts:link}
{/block}

{block content}

<div class="page-header">
	<h1 n:block=title>
		<small class="hidden-xs" n:if="$category->parent">{$category->parent->name} /</small>
		{$category->name}
	</h1>
	<a href="{plink //posts-feed!}" class="pull-right rss-feed hidden-xs hidden-sm">Posts</a>
	<a href="{plink //rss-feed!}" class="pull-right rss-feed hidden-xs hidden-sm">Questions</a>
	<a n:href="Categories:" class="hidden-xs hidden-sm">&laquo; All categories</a>
</div>

{control threads}
{control threads-vp}

<hr>


{if $user->loggedIn}

	<div class="row" id="create-topic">
		<div class="col-sm-offset-3 col-sm-6"><h2>Create topic:</h2></div>
	</div>
	<div class="row">
		<div class="col-sm-11">
			{control createTopicForm}
		</div>
	</div>

{else}
	<div class="row">
		<div class="col-md-10 col-sm-12 col-md-offset-1 col-sm-offset-0">
			<div class="alert alert-warning">You must first <a href="{plink login-showModal!}" class="ajax">log in</a> to open a discussion</div>
		</div>
	</div>
{/if}

