services:
	- App\RouterFactory
	router: @App\RouterFactory::createRouter
	user:
		class: Archivist\Security\UserContext()

	nette.latte:
		setup:
			- addFilter(NULL, Archivist\UI\TemplateHelpers::register(@self))

	- Archivist\Users\Manager()
	authenticator: @Archivist\Users\Manager

	- Archivist\Forum\Writer()

	- Archivist\Forum\PostContentRenderer("Help", "en", "")
