services:
	- App\RouterFactory(%productionMode%)
	router: @App\RouterFactory::createRouter

	user: {class: Archivist\Security\UserContext()}
	- Archivist\Users\Manager()
	authenticator: @Archivist\Users\Manager

	nette.latte:
		setup:
			- addFilter(NULL, Archivist\UI\TemplateHelpers::register(@self))
	- Archivist\Forum\PostContentRenderer("Help", "en", "")

	- Archivist\Forum\Reader()
	- Archivist\Forum\Writer()
	- Archivist\Forum\NewestQuestionListener()

	# componnets
	- Archivist\ForumModule\IPostFormFactory
