services:
	- App\RouterFactory(%productionMode%)
	router: @App\RouterFactory::createRouter

	user: {class: Archivist\Security\UserContext()}
	- Archivist\Users\Manager()
	authenticator: @Archivist\Users\Manager
	- Archivist\Users\FacebookConnect()
	- Archivist\Users\GithubConnect()
	- Archivist\Users\GoogleConnect()

	nette.latteFactory:
		setup:
			- addFilter(NULL, Archivist\UI\TemplateHelpers::register(@self))
	- Archivist\Forum\Preprocessor\CachingRenderer(%productionMode%, Archivist\Forum\Preprocessor\TexyRenderer())

	- Archivist\Forum\Reader()
	- Archivist\Forum\Writer()
	- {class: Archivist\Forum\Events\LastPostListener(), tags: [kdyby.subscriber]}

	# componnets
	- Archivist\ForumModule\IPostFormFactory
	- Archivist\ForumModule\Questions\IThreadsControlFactory
	- Archivist\ForumModule\Posts\IPostsControlFactory
	- Archivist\SignDialog\ISingInControlFactory
	- Archivist\Rss\IFeedControlFactory
	- Archivist\SignDialog\IMergeWithSocialNetworkControlFactory
