<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title>{block title|striptags|trim}Support forum{/block} - Kdyby.org</title>

	{control webloaderCss}
	<link rel="stylesheet" media="print" href="{$basePath}/css/print.css">
	<link rel="shortcut icon" href="{$basePath}/images/logo.png">
	{block head}{/block}

	<script src="{$basePath}/js/modernizr.js"></script>
</head>
<body>
<script n:if="!empty($analytics) && $productionMode">
  (function(i,s,o,g,r,a,m){ i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', {$analytics['code']}, {$analytics['domain']});
  ga('send', 'pageview');

</script>

<script> document.documentElement.className += ' js' </script>

<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" n:href="//:Forum:Categories:">Archivist</a>
		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Forum <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a n:href=":Forum:Categories:"><span class="glyphicon glyphicon-folder-open pull-right"></span>Categories</a></li>
						<li><a n:href=":Forum:NewestQuestions:"><span class="glyphicon glyphicon-sort-by-attributes-alt pull-right"></span>New questions</a></li>
					</ul>
				</li>
			</ul>

			{*<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>*}

			<ul class="nav navbar-nav navbar-right">
				<li n:if="!$user->loggedIn">
					{if $presenter->isLinkCurrent(':Sign:*')}
						<a href="{plink :Sign:in}">Log in</a>
					{else}
						<a href="{plink login-showModal!}" class="ajax">Log in</a>
					{/if}
				</li>
				<li class="dropdown" n:if="$user->loggedIn">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span>
						{$user->name ?: $user->email} <b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a n:href=":Forum:Profile:, $user->identity->user->id"><span class="glyphicon glyphicon-user pull-right"></span>Profile</a></li>
						<li><a n:href="signOut!"><span class="glyphicon glyphicon-log-out pull-right"></span>Sign out</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>

<div class="container">

	{block flashes}
		{snippet flashes}
			<div n:foreach="$flashes as $flash" class="alert alert-{$flash->type ?: 'info'}">{$flash->message}</div>
		{/snippet}
	{/block}

	{include content}

</div>

<div id="footer">
  <div class="container">
	<p class="text-muted"><a href="https://www.kdyby.org">www.kdyby.org</a></p>
  </div>
</div>

{control login}

{block scripts}{/block}
{control webloaderJs}
</body>
</html>
