body {
	background: white;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

a[href^="error:"] {
	background: red;
	color: white;
}

html.js .jshidden {
	display: none;
}

.category table tr:first-child td,
.topics table tr:first-child td {
	border-top: 0;
}

.category table {
	margin-bottom: 0;
}

.page-header h1 small {
	padding-top: 16px;
}

.forum-post .panel-body p:last-child {
	margin-bottom: 0;
}

.forum-post .panel-footer a {
	padding-left: 15px;
}

.forum-post .panel-footer a .glyphicon {
	padding-right: 3px;
}

.forum-post .panel-footer {
	background-color: #faeeee;
}

.forum-post.panel-primary .panel-footer {
	background-color: #f6f1fa;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
