body {
	background: white;
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

#ajax-spinner {
	margin: 15px 0 0 15px;
	padding: 13px;
	background: white url('../images/spinner.gif') no-repeat 50% 50%;
	font-size: 0;
	z-index: 123456;
	display: none;
}

a[href^="error:"] {
	background: red;
	color: white;
}

html.js .jshidden {
	display: none;
}

/*.category table tr:first-child td,*/
.topics table tr:first-child td {
	border-top: 0;
}

.category .panel-body .row {
	border-top: 1px solid #ddd;
	padding: 8px 0;
}

.category .panel-body .row:first-child {
	border-top: 0;
}

.category .row h2 {
	padding: 0;
	margin: 0;
	font-size: 21px;
}

table tr td.text-middle,
table tr th.text-middle {
	vertical-align: middle;
}

.topics .title,
.topic .title {
	font-size: 130%;
}

.topics .row {
	border-top: 1px solid #ddd;
	padding: 8px 0;
}

.topics .row.topic:first-child {
	border-top: 0;
}

@media (max-width: 991px) {
	.topics .row.topic:nth-child(2) {
		border-top: 0;
	}
}

.topics table tr th {
	border-top: 0;
}

.category table {
	margin-bottom: 0;
}

.page-header h1 small {
	padding-top: 16px;
}

.forum-post {
	position: relative;
}

.forum-post .panel-body p:last-child {
	margin-bottom: 0;
}

.forum-post .panel-footer a {
	padding-left: 15px;
}

.forum-post .panel-footer a .glyphicon {
	padding-right: 3px;
}

.forum-post.panel-primary .panel-footer {
	background-color: #edeffa;
}

.forum-post.panel-warning .panel-footer {
	background-color: #faf4eb;
}

.forum-post .panel-body img {
	padding-bottom: 10px;
}

.forum-post .timestamp a {
	color: inherit;
}

.forum-post .id {
	position: absolute;
	display:block;
	top: -60px;
}

.forum-post .panel-title {
	position: relative;
}

.forum-post .panel-title img.gravatar {
	position: absolute;
	left: -90px;
	top: -10px;
}

.modal.login-modal .modal-content .modal-footer {
	margin-top: 0;
}

.modal.login-modal h5 {
	/*margin-left: 20px;*/
	text-align: center;
	font-weight: bold;
	font-size: 110%;
}

.page-header {
	position: relative;
}

.page-header.profile {
	margin-top: 70px;
	position: relative;
}
.page-header.profile .gravatar {
	position: absolute;
	right: 0;
	bottom: 10px;
}

.rss-feed {
	background: url("../images/rss.png") no-repeat 0 2px;
	background-size: 16px;
	padding-left: 21px;
	margin-right: 3px;
}

.page-header.categories .rss-feed {
	position: absolute;
	right: 3px;
	bottom: 10px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}



/* ajax overlay
-------------------------------------------------- */

.ajax-overlay {
	position: relative;
}

.overlay {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.7;
	filter: alpha(opacity=70);
	z-index: 1000;
}

.overlay.white {
	background: #ffffff;
}

.overlay.ajaxOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ffffff;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.overlay.ajaxOverlay p {
	text-align: center;
	margin: 10% 0 0 0;
	font-family: 'OpenSansSemibold', Arial, sans-serif;
	font-weight: bold;
}

.overlay.block {
	display: block;
}

.modal .overlay {
	border-radius: 6px;
}



/* Side nav-tabs
-------------------------------------------------- */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
